html, body, #map{
//padding: 0;
//margin: 0;
height: 95%;
}

body.backgroundCondutor
{
    background-image: url(../imagens/carDriver.jpg);
    //background-color: red;
}

form{
  background-color: #000;
}