<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletConsultaEndereco</servlet-name>
        <servlet-class>SERVLET.ServletConsultaEndereco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarMarca</servlet-name>
        <servlet-class>SERVLET.ServletListarMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastrarCondutor</servlet-name>
        <servlet-class>SERVLET.ServletCadastrarCondutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarModelo</servlet-name>
        <servlet-class>SERVLET.ServletListarModelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultarDocumentosCondutor</servlet-name>
        <servlet-class>SERVLET.ServletConsultarDocumentosCondutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastrarVeiculo</servlet-name>
        <servlet-class>SERVLET.ServletCadastrarVeiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultarPlaca</servlet-name>
        <servlet-class>SERVLET.ServletConsultarPlaca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastrarTag</servlet-name>
        <servlet-class>SERVLET.ServletCadastrarTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastrarSensor</servlet-name>
        <servlet-class>SERVLET.ServletCadastrarSensor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarCondutor</servlet-name>
        <servlet-class>SERVLET.ServletListarCondutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlterarCondutor</servlet-name>
        <servlet-class>SERVLET.ServletAlterarCondutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarVeiculo</servlet-name>
        <servlet-class>SERVLET.ServletListarVeiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlterarVeiculo</servlet-name>
        <servlet-class>SERVLET.ServletAlterarVeiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarTag</servlet-name>
        <servlet-class>SERVLET.ServletListarTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlterarTag</servlet-name>
        <servlet-class>SERVLET.ServletAlterarTag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarSensor</servlet-name>
        <servlet-class>SERVLET.ServletListarSensor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlterarSensor</servlet-name>
        <servlet-class>SERVLET.ServletAlterarSensor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastrarOcorrencia</servlet-name>
        <servlet-class>SERVLET.ServletCadastrarOcorrencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarOcorrencia</servlet-name>
        <servlet-class>SERVLET.ServletListarOcorrencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlterarOcorrencia</servlet-name>
        <servlet-class>SERVLET.ServletAlterarOcorrencia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletConsultaEndereco</servlet-name>
        <url-pattern>/ServletConsultaEndereco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarMarca</servlet-name>
        <url-pattern>/ServletListarMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastrarCondutor</servlet-name>
        <url-pattern>/ServletCadastrarCondutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarModelo</servlet-name>
        <url-pattern>/ServletListarModelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultarDocumentosCondutor</servlet-name>
        <url-pattern>/ServletConsultarDocumentosCondutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastrarVeiculo</servlet-name>
        <url-pattern>/ServletCadastrarVeiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultarPlaca</servlet-name>
        <url-pattern>/ServletConsultarPlaca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastrarTag</servlet-name>
        <url-pattern>/ServletCadastrarTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastrarSensor</servlet-name>
        <url-pattern>/ServletCadastrarSensor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarCondutor</servlet-name>
        <url-pattern>/ServletListarCondutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlterarCondutor</servlet-name>
        <url-pattern>/ServletAlterarCondutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarVeiculo</servlet-name>
        <url-pattern>/ServletListarVeiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlterarVeiculo</servlet-name>
        <url-pattern>/ServletAlterarVeiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarTag</servlet-name>
        <url-pattern>/ServletListarTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlterarTag</servlet-name>
        <url-pattern>/ServletAlterarTag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarSensor</servlet-name>
        <url-pattern>/ServletListarSensor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlterarSensor</servlet-name>
        <url-pattern>/ServletAlterarSensor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastrarOcorrencia</servlet-name>
        <url-pattern>/ServletCadastrarOcorrencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarOcorrencia</servlet-name>
        <url-pattern>/ServletListarOcorrencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlterarOcorrencia</servlet-name>
        <url-pattern>/ServletAlterarOcorrencia</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
