<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletConsultaEndereco</servlet-name>
        <servlet-class>SERVLET.ServletConsultaEndereco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarMarca</servlet-name>
        <servlet-class>SERVLET.ServletListarMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastrarCondutor</servlet-name>
        <servlet-class>SERVLET.ServletCadastrarCondutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarModelo</servlet-name>
        <servlet-class>SERVLET.ServletListarModelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultarDocumentosCondutor</servlet-name>
        <servlet-class>SERVLET.ServletConsultarDocumentosCondutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastrarVeiculo</servlet-name>
        <servlet-class>SERVLET.ServletCadastrarVeiculo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletConsultaEndereco</servlet-name>
        <url-pattern>/ServletConsultaEndereco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarMarca</servlet-name>
        <url-pattern>/ServletListarMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastrarCondutor</servlet-name>
        <url-pattern>/ServletCadastrarCondutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarModelo</servlet-name>
        <url-pattern>/ServletListarModelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultarDocumentosCondutor</servlet-name>
        <url-pattern>/ServletConsultarDocumentosCondutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastrarVeiculo</servlet-name>
        <url-pattern>/ServletCadastrarVeiculo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
