<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tcc?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">admin</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="POJO/Cidade.hbm.xml"/>
    <mapping resource="POJO/Condutor.hbm.xml"/>
    <mapping resource="POJO/Bairro.hbm.xml"/>
    <mapping resource="POJO/Estado.hbm.xml"/>
    <mapping resource="POJO/Logradouro.hbm.xml"/>
    <mapping resource="POJO/Marca.hbm.xml"/>
    <mapping resource="POJO/Veiculo.hbm.xml"/>
    <mapping resource="POJO/Modelo.hbm.xml"/>
    <mapping resource="POJO/Sensor.hbm.xml"/>
    <mapping resource="POJO/Tag.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
